h1 {
    text-align: center;
    margin: 100px auto;
    color: yellowgreen;
}

body {
    background-color: pink;
}

* {
    padding: 0;
    margin: 0;
}

h4 {
width:400px;
hight:400px;
font-size:60px;
    color: green;
}
